.adm-button {
    color: var(--white-color);
    text-decoration: none;
    padding: 16px 0px;
    border-radius: 8px;
    background-color: var(--accent-color);
}

.curr-button {
    padding: 15px 0px;
    text-decoration: none;
    border-radius: 8px;
    color: var(--dark-grey);
    background-color: var(--white-color);
    border: 1px solid var(--light-grey);
}

.top-img1 {
    height: 373px;
    width: 264px;
    border-radius: 8px;
    background-image: url(res/img/hero1.png);
    background-size: cover;
}

.top-img2 {
    height: 372px;
    width: 285px;
    border-radius: 8px;
    background-image: url(res/img/hero2.png);
    background-size: cover;
}

.ph-img1 {
    width: 68.35px;
    height: 34px;
    background-image: url(res/svg/p-img1.svg);
    background-size: cover;
}

.ph-img2 {
    width: 75.93px;
    height: 34px;
    background-image: url(res/svg/p-img2.svg);
    background-size: cover;
}

.ph-img3 {
    width: 115.28px;
    height: 34px;
    background-image: url(res/svg/p-img3.svg);
    background-size: cover;
}

/* .video {
    background-color: dodgerblue;
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
} */

.video {
    overflow: hidden;
    position: relative;
    width:50%;
    border-radius: 16px;
}

.video::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.update-button a, .philosophy-button a {
    padding: 15px 36px;
    color: var(--dark-grey);
    text-decoration: none;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
}

/*Admission Form*/

.adm-form {
    width: 100%;
}

.form-wrapper {
    display: flex;
}

.adm-form input, .adm-form select {
    background: #F2F2F2;
    border-radius: 4px;
    border: 0px;
    padding: 14px 0px 14px 24px;
    margin-bottom: 24px;
}

.adm-form select {
    border: 1px solid #D7D7D7;
    background-color: var(--white-color);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DBDBDB;
  }

  input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #000000;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  input[type="date"] {
      min-width: 100%;
  }

  label {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 16px 16px 24px 0;
    border: 1px solid var(--footer-line);
    border-radius: 8px;
    color: #B1B1B1;
    transition: background 0.2s ease-out;
}

label:hover {
    background-color: #F3F3F3;
    color: #B1B1B1;
}

input[type="radio"]:checked + label {
    background-color:#F8C302;
    border-color: #F8C302;
    border-radius: 4px;
    color: #FFFFFF;
}

.adm-form input[type="submit"] {
    background-color:var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: #FFFFFF;
    padding: 14px 0px;
    font-weight: bold;
    transition: background 0.2s ease-out;
}

.adm-form input[type="submit"]:hover {
    background: var(--accent-hover);
}

/*Updates Page*/

.filter-bar input[type="button"] {
    padding: 10px 20px;
    border: 1px solid var(--footer-line);
    background-color: var(--white-color);
    border-radius: 8px;
    color: #B1B1B1;
    box-shadow: none;
    margin: 8px;
}

.filter-bar input[type="button"].active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 4px;
    color: #FFFFFF;
}

.filter-bar > div {
    margin-left: -8px;
}

.updates {
    background-color: var(--up-card);
    border-radius: 16px;
    padding: 24px;
}

.up-dt, .up-tp {
    color: var(--dark-grey);
}

.up-tp {
    font-weight: bold;
}

.up-img {
    background-image: url(res/img/up-card-img.png);
    background-size: cover;
}
