.heading {
    line-height: 58px;
    font-family: 'PT Serif', serif;
    font-size: 3rem;
}

.content-label {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    line-height: 29px;
}

/*Fonts for Admission and Curriculum Buttons*/

.welcome > a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
}

.update-button, .philosophy-button {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 17px;
}

/*font-family: 'Roboto', sans-serif;*/

/*Fonts for the grey context all over the website*/

.grey-context {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

/*For subtext in philosophy bar on homepage*/

.philo-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 24px;
}

/*context for curriculum, facilities, etc*/

.sub-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

/*For Ratnajaali link, etc.*/

.grey-link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 24px;
}

/*FOr the lists in curriculum page*/

.curr-list {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/*For sub points in facilities*/

.sb-pt {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

.sb-pt-hd {
    font-size: 1rem;
}

/*For cards date and type in Updates page*/

.up-info {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 18px;
}

/*Filter buttons in Updates page*/

.filter-bar p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

.filter-bar input {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 16px;
}

/*For collapsibles*/

.policy-bar button {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    line-height: 29px;
    font-weight: bold;
}

.content {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 24px;
}

/*For the donate and admission forms*/

form, form input, form select {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 20px;
}

.adm-form p {
    line-height: 15px;
}

.donate-amt input {
    font-size: 0.875rem;
    line-height: 18px;
}