html {
    font-size: 16px;
}

/* Removing the default margins and paddings of browsers */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Declaration of variables*/

:root{
    --accent-color: #F8C302;
    --light-grey: #D6D6D6;
    --dark-grey: #676767;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --footer-grey: #989898;
    --footer-line: #D7D7D7;
    --accent-hover: #e6b302;
    --up-card: #F8F8F8;
    --ele-width: 95%;
}


/*Setting the dislay of mobile only elements to none on desktop*/

.no-desktop {
    display: none;
}

/*Setting body to display flex*/

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

nav {
    background-color: var(--accent-color);
    color: #EEE;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: var(--ele-width);
    flex-wrap: wrap;
    margin-bottom: 86px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    width: var(--ele-width);
    margin-top: 5px;
}

.top-section > div {
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.welcome {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 326px;
}

.welcome > a {
    align-self: center;
    width: 100%;
    text-align: center;
    margin: 5px;
}

.top-img1 {
    align-self: flex-start;
}

.top-img2 {
    align-self: flex-end;
}

.mob-slides {
    width: 100%;
    background-color: violet;
    height: 238px;
    margin-top: 5px;
}

.motive {
    display: flex;
    width: var(--ele-width);
    margin-top: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.motive > div {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.philosophy-button {
    display: flex;
    width: var(--ele-width);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.video-bar {
    display: flex;
    width: var(--ele-width);
    margin-top: 5px;
}

.video > div {
    background-color: forestgreen;
    height: 100%;
    width: 70%;
}

.video-context {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 80px;
    max-width: 350px;
}

.slide-head {
    display: flex;
    background-color: hotpink;
    width: var(--ele-width);
    margin-top: 5px;
}

.slide-title {
    max-width: 469px;
}

.carousel {
    background-color: khaki;
    width: var(--ele-width);
    height: 200px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}

.update-button {
    display: flex;
    width: var(--ele-width);
    margin-top: 5px;
}

footer {
    background-color: purple;
    margin-top: 5px;
    width: var(--ele-width);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    color: seashell;
}

.sm-grey-zig {
    width: 98px;
    height: 8px;
    background-color: chocolate;
}

.two-col {
    display: flex;
    width: var(--ele-width);
    margin-top: 5px;
    justify-content: space-between;
}

.two-col > div {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

.top-heading {
    display: flex;
    flex-direction: column;
    width: var(--ele-width);
}

.adm-form, .donate-form {
    max-width: 328px;
}

.one-side-col {
    padding-right: 20px;
}

.motive > div {
    margin: 10px;
}


@media screen and (max-width: 1000px) {
    .no-tab {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .no-mob {
        display: none !important;
    }

    .video-bar {
        flex-direction: column;
    }
    
    .video {
        height: 200px;
    }

    .top-section > div {
        width: 100%;
        height: unset;
    }

    .welcome, .top-section > div, .video-bar div, .two-col > div {
        width: 100%;
    }

    .no-desktop {
        display: block;
    }

    .two-col {
        flex-direction: column;
    }

    .rev-mob {
        flex-direction: column-reverse;
    }

    .adm-form, .donate-form {
        max-width: none;
    }

    .one-side-col {
        padding-right: 0;
    }

    .motive > div {
        margin: 25px 0;
    }

    .update-button a, .philosophy-button a {
        width: 100%;
    }

    .video-context {
        padding-left: 0;
        max-width: none;
    }
    
  }